$font-stack-1: "Italiana", 'Times New Roman', serif;
$font-stack-2: "Space Mono", 'Courier New', Courier, monospace;

$color-dark: #1F1F1F;
$color-white: #ffffff;
$color-primary: #FF4A3B;
$color-light: #fdf9f6;

$spacing-xxl: 8rem;
$spacing-xl: 6rem;
$spacing-lg: 5rem;
$spacing-md-lg: 4rem;
$spacing-md: 3rem;
$spacing-sm-lg: 2.5rem;
$spacing-sm: 2rem;
$spacing-sm-xs: 1.5rem;
$spacing-xs-lg: 1.25rem;
$spacing-xs: 1rem;
$spacing-xxs: .5rem;